body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9c0c0; /* Fundo rosa */
}

header {
    background-color: #d32590;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

header h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.question-container {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.question-container h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

label {
    cursor: pointer;
}

.answer-box {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .answer-box button {
    background-color: #4CAF50;
    color: #fff;
    padding: 18px 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .answer-box button:hover {
    background-color: #3e8e41;
  }

  .answer-box button {
    font-size: 1.5em;
    white-space: nowrap;
  }

  .answer-box label {
    font-weight: bold;
    font-size: large ;
    text-align: center;
    margin-bottom: 5px;
  }

  .score-container{
    font-size-adjust: none;
    text-align: center;
  }

  .score-container.hidden {
    display: none;
  }
  
  #score-quantity, #score-percentage {
    font-weight: bold;
    font-size: 1.2em;
  }